
.headGrid{
	margin-left: auto;
	margin-right: auto;
}

.ui-inputfield{
	box-shadow: none !important;
}

.tableStore {
	margin-left: 200px !important;
	margin-right: 200px !important;
}

.ui-widget .ui-widget {
	font-size: 10px !important;
}

.ui-column-title {
	font-size: 15px !important;
}

.ui-datatable thead th {
	text-align: center !important;
}
.searchFilter{
	padding-left:250px !important;
}
.editButton {
	background: #008CBA !important;
	margin-left: 15px;
	margin-right: 35px !important;
	margin-top: -2px !important;
	font-weight: normal !important;
	color: white !important;
	cursor: pointer;
	font-size: 13px !important;
	font-family: Arial !important;
	text-shadow: none !important;
}
.buttonDelete {
	background: #BA4141 !important;
	margin-top: -2px !important;
	margin-left: 10px;
	font-weight: normal !important;
	color: white !important;
	cursor: pointer;
	font-size: 13px !important;
	font-family: Arial !important;
	text-shadow: none !important;
}

.newButton {
	background: #008CBA !important;
	margin-left: 25px !important;
	color: white !important;
	font-weight: normal !important;
	font-size: 13px !important;
	font-family: Arial !important;
	text-shadow: none !important;
	cursor: pointer;
}


.ui-dialog .ui-dialog-titlebar-close {
	background-color: #333333 !important;
}

.ui-widget-header .ui-icon {
	visibility: visible !important;
	font-color: #ffffff !important;
}

.ui-datatable tbody td {
	font-size: 13px !important;
}

.ui-dialog .ui-dialog-titlebar {
	color: #ffffff !important;
}

.ui-widget .ui-widget {
	font-size: 13px !important;
}

.table-columnName{
	width: 50px !important;
	text-align: center;
}
.table-columnPrice{
	width: 50px !important;
	text-align:center;
}

.table-columnManage1{
	width: 70px !important;
	
}

