
.ui-inputfield{
	box-shadow: none !important;
	text-align: center;
}

.ui-button .ui-button-text {
	display: block;
	font-size: 15px !important;
}

.ui-widget .ui-widget {
	font-size: 10px !important;
}

.editButton {
	background: #008CBA !important;
	margin-right: 35px !important;
	margin-top: -2px !important;
	font-weight: normal !important;
	color: white !important;
	cursor: pointer;
	font-size: 13px !important;
	font-family: Arial !important;
	text-shadow: none !important;
}
.buttonDelete {
	background: #BA4141 !important;
	margin-top: -2px !important;
	font-weight: normal !important;
	color: white !important;
	cursor: pointer;
	font-size: 13px !important;
	font-family: Arial !important;
	text-shadow: none !important;
}

.newButton {
	background: #008CBA !important;
	margin-left: 25px !important;
	color: white !important;
	font-weight: normal !important;
	font-size: 13px !important;
	font-family: Arial !important;
	text-shadow: none !important;
	cursor: pointer;
}

.ui-datatable {
	text-align: center !important;
	padding-top: 50px;
}

.ui-dialog .ui-dialog-titlebar-close {
	background-color: #333333 !important;
}

.ui-datatable tbody td {
	font-size: 13px !important;
	text-align: center;
}

.headGrid{
	margin-left: auto;
	margin-right: auto;
}

.ui-dialog .ui-dialog-titlebar {
	color: #ffffff !important;
}

.ui-widget .ui-widget {
	font-size: 13px !important;
}

.table-columnName{
	width: 200px !important;
}
.table-columnCmimi{
	width: 140px !important;
	
}
.table-columnManage{
	width: 200px !important;
	
}

.titleEditProdukt {
	font-family: "Arial Black";
	color: #000000;
	font-size: 18px;
}

.titleEditProdukt1 {
	font-family: "Arial Black";
	color: #000000;
	font-size: 20px;
}